<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flip Script</title>

    <link href="~/Content/foundation.min.css" rel="stylesheet" />

    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/owl.transitions.css" rel="stylesheet" />
    
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <!--Zurb Foundation 6 title bar-->
    <div class="title-bar">
        <div class="title-bar-left">
            <span class="title-bar-title">@ViewBag.Title</span>
        </div>
        <div class="title-bar-right">
            <a id="load-button" class="small button" data-open="file-load-modal" href="#"><i class="fa fa-upload"></i> <span class="hidden-xs">Load MD File</span></a>
        </div>
    </div>

    <div class="reveal" id="file-load-modal" data-reveal>
        <h1>Upload a new file</h1>
        <p>Choose a new Markdown file to apply the FlipScript treatment to.</p>

        @using (Html.BeginForm("Viewer", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="small-12 columns">
                    <input type="file" name="file" id="file" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        }

        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
    </div>


    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/what-input.min.js"></script>
    <script src="~/Scripts/foundation.min.js"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
